*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // Defines what 1rem is
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

::selection {
  background: $color-primary-dark; /* WebKit/Blink Browsers */
  color: $color-grey-light-1;
}
::-moz-selection {
  background: $color-primary-dark; /* Gecko Browsers */
  color: $color-grey-light-1;
}
