*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  // Defines what 1rem is
  font-size: 62.5%; // 1rem = 10px/16px = 62.5%

  @include respond(tab-land) { // width < 1200?
    font-size: 56.25%; // 1rem = 9px, 9/16 = 56.25%
  }

  @include respond(tab-port) { // width < 900?
    font-size: 50%; // 1rem = 8px, 8/16 = 50%
  }

  @include respond(big-desk) { // width > 1800
    font-size: 80%; // 1rem = 12px, 12/16 = 75%;
  }
}

::-moz-selection {
  background: $color-primary-dark; /* Gecko Browsers */
  color: $color-grey-light-1;
}
::selection {
  background: $color-primary-dark; /* WebKit/Blink Browsers */
  color: $color-grey-light-1;
}
