// COLORS
$color-primary: #61A5CF;
$color-primary-light: #67AFDB;
$color-primary-dark: #5590B5;

$color-secondary-light: #F29F0F;
$color-secondary-dark: #D98E0D;

$color-tertiary-light: #1BA688;
$color-tertiary-dark: #168C73;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$grid-width-tab: 50rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 4rem;
$gutter-horizontal: 6rem;
$content-padding: 1rem;

// BORDER RADIUS
$border-radius-default: .3rem;
$border-radius-round: 10rem;
$border-radius-sm: .2rem;
$border-radius-xl: 2px;
